<section class="container mt-4">
  <div class="row">
    <!-- Left side: Picture -->
    <div class="col-md-4 mb-4">
      <img src="/src/assets/profilepicture.jpg" alt="Izudin Bektić" class="img-fluid">
    </div>

    <!-- Right side: Text -->
    <div class="col-md-8">
      <h2>About Me</h2>
      <p>
        Hi, I'm Izudin Bektić, a 32-year-old professional with a background in computer technology and automation.
        I graduated from the High School of Electrical Engineering, specializing in these fields.
        Since completing high school, I've been passionately developing my computer skills.
      </p>
      <p>
        In 2015, I had the opportunity to work part-time, maintaining sports websites in WordPress.
        This experience deepened my understanding of HTML and CSS, expanding my skill set.
      </p>
      <p>
        In early 2023, I enrolled in the College of Computer Science and Business Communications.
        Here, I acquired the knowledge to create fully functional web applications.
      </p>
      <p>
        I've mastered front-end tools such as HTML, CSS, JavaScript, and Angular, as well as back-end technologies like Java, MySQL, and Python.
        Using these technologies, I successfully completed a final project—a functional Web Shop.
        I wrote the code, designed the frontend, and created the necessary databases based on the idea and mockup of the page.
      </p>
    </div>
  </div>
</section>